@font-face {
    font-family: Prompt;
    src: url(./fonts/Prompt-Regular.woff);
}

* {
    margin: 0;
}

body {
    font-family: Prompt;
    background-image: url("./public/images/background.jpg");
    background-size: cover;
}

h1 {
    font-size: 4rem;
}

button {
    align-content: center;
    padding: 15px 30px 15px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
}

button:hover {
    transform: scale(1.1);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    gap: 50px;
    font-size: large;
}

input {
    padding: 10px;
    border-radius: 10px;
}
